registry=http://172.16.11.6:8080/ARMS_NG/_packaging/LAI.NG/npm/registry/

             

always-auth=true    



; begin auth token

//172.16.11.6:8080/ARMS_NG/_packaging/LAI.NG/npm/registry/:username=LAITFS_Token

//172.16.11.6:8080/ARMS_NG/_packaging/LAI.NG/npm/registry/:_password='YTN5aHIzZmd3cGh2NnNqd283dGRhd3FrM2d4Y3BlcHV0dGtqbmN6bG8yd2txMmhiMjMycQ=='

//172.16.11.6:8080/ARMS_NG/_packaging/LAI.NG/npm/registry/:email=vishal.anil@laminaar.in

//172.16.11.6:8080/ARMS_NG/_packaging/LAI.NG/npm/:username=LAITFS_Token

//172.16.11.6:8080/ARMS_NG/_packaging/LAI.NG/npm/:_password='YTN5aHIzZmd3cGh2NnNqd283dGRhd3FrM2d4Y3BlcHV0dGtqbmN6bG8yd2txMmhiMjMycQ=='

//172.16.11.6:8080/ARMS_NG/_packaging/LAI.NG/npm/:email=vishal.anil@laminaar.in

; end auth token